* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
     background-color: #e0e0e0;
     font-size: 16px;
}

.envios_gratis
{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    color: #27ae60;
    font-size: small;
    background-color: white;
    border-bottom: 2px solid #27ae60;
    border-top: 2px solid #27ae60;
}
.p_envios_gratis , .b_envios_gratis
{
    margin-bottom: 0;
}
.barra_navega
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25em;
}
.titulo_bioser
{
    margin: -0.9375em;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px #0e0e0e;
}
header
{
    background-image: linear-gradient(rgba(16,16,16,0.6), rgba(16,16,16, 0.6)), url(../imagenes/fondo__header.jpg);
    background-repeat:space;
    background-size:cover;
    
}
.nav_bar
{
    background-color: #27ae60;
    box-shadow: 0 2px 4px black;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar_list
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.navbar_items
{
    padding: 0.8rem;
    font-size: 1.2em;
    font-weight: 600;
}
.items_links
{
    text-decoration: none;
    color: #e0e0e0;
}
.navbar_items:hover
{
    transform: scale(0.9);
    transition: all 0.4s;
    background-color: #e0e0e0;
    border-radius: 30px;
    box-shadow: 0 2px 6px #0e0e0e;
}
.navbar_items a:hover
{
    color: #27ae60;
}
.carousel-text
{
    display:inline-flex;
    color: #0e0e0e;
    background-color: #e0e0e0;
    border-radius: 50%;
    box-shadow: 0 2px 6px #0e0e0e;
    padding: 0.4rem;
    
}
.carousel{
    box-shadow: 0 0 4px black;
}
.formulario 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38.75em;
    width: 31.25em;
    background-color: #27ae60;
    border-radius: 4px;
    box-shadow: 3px 3px 5px black;
}
.container
{
    display: flex;
    justify-content: space-around;
    padding: 1.875em;
    margin: 6.25em;
}
h3 , h2 , h5
{
    text-align: center;
    padding: 0.3125em;
    margin: 0.625em;
    font-size: 1.56rem;
}
h3 , h2
{
    font-size: 2.1875em;
    padding: 0.625rem;
    box-shadow: 3px 3px 5px black;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #27ae60;
}
input , textarea , select
{
    padding: 0.3125em;
    border-radius: 6px;
    
}
.enviar
{
        background-color: #e0e0e0;
        border-radius: 50%;
        border: none;
        box-shadow: 0 2px 4px #0e0e0e;
        color: #27ae60;
        font-size: 1.1em;
        font: bolder;
        padding: 0.625rem 1.5625rem;
        cursor: pointer;
        border-radius: 6px;
}
.enviar:hover{
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow: 0px 0px 3px 3px #0e0e0e;
    transition: all 0.7s;
  }
.enviar_p
{
    background-color: #27ae60;
}
:root
{
    --facebook: #3b5999;
    --instagram: #e4405f;
    --whatsapp: #25d366;
}
.redes_container
{
    height: 20vh;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 1.25em;
}
.redes_container .ul_mio .li_mio
{
    display: inline-block;
    margin: 0 0.3125em;
    width: 3.125em;
    height: 3.125em;
    text-align: center;
    
}
.redes_container .ul_mio .li_mio a
{
    display: block;
    padding: 0 0.625rem;
    background-color:#0e0e0e;
    color: #e0e0e0;
    line-height: 3.125rem;
    font-size: 1.125em;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
    transition: .2s;
    border-radius: 2px;
    
}
.redes_container .ul_mio:hover a
{
    filter: blur(2px);
    
}
.facebook , .instagram , .whatsapp
{
    cursor: pointer;
}
.redes_container .ul_mio .li_mio a:hover 
{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
    border-radius: 2px;
    
}
.redes_container .ul_mio .li_mio .facebook:hover 
{
    background: var(--facebook);
}
.redes_container .ul_mio .li_mio .instagram:hover 
{
    background: var(--instagram);
}
.redes_container .ul_mio .li_mio .whatsapp:hover 
{
    background: var(--whatsapp);
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px black;
    padding: 0.625em;
    background-image: linear-gradient(rgba(16,16,16,0.6), rgba(16,16,16, 0.6)), url(../imagenes/fondo__header.jpg);
    background-repeat:space;
    background-size:cover;
}
.footer1 , .footer2
{
    display: flex;
    justify-content: center;
    line-height: 0.9375em;
    background-color: #e0e0e0;
    border-radius: 2px;
    padding: 0.125em;
    align-items: center;
    box-shadow: 0px 0px 10px 1px black;
    margin-bottom: 0;
}
.footer1
{
    margin-top: 0.3125em;
}
.footer2
{
    font-size: x-small;
}
.img_colum
{
    display:flex;
    flex-direction: column;
    align-items: center;    
}
.img_text
{
    background-color: #e0e0e0;
    margin-top: 0.625em;
    border-radius: 2px;
    padding: 0.125em;
    box-shadow: 3px 3px 5px black;
}
ul
{
    padding-left: 0;
}
.artic_index
{
    display: grid;
    padding: 2.5em;
    grid-gap: 1.875em;
}
aside
{
    grid-column: 2;
    grid-row: 2;
    padding: 1.25em;
    background-color: #27ae60;
    border-radius: 4px;
    box-shadow: 3px 3px 5px black;
    color: #e0e0e0;
    
}
article
{
    grid-column: 1;
    grid-row: 2;
    padding: 1.25em;
    background-color: #27ae60;
    border-radius: 4px;
    box-shadow: 3px 3px 5px black;
    color: #e0e0e0;
}
h2
{
    text-align: center;
}
.img_alim
{
    float: right;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    padding: 0.625em;
    margin: 0.9375em;
}
.video
{
    float: left;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    margin: 1.25em;
    margin-top: 3.125em;
}
.img_alim:hover
{
    transform:scale(1.1);
    transition: all 0.5s;
}
.img_alim2:hover
{
    transform:scale(1.1);
    transition: all 0.5s;
}
.img_barrita
{
    float: right;
    border-radius:50%;
    box-shadow: 0px 0px 5px black;
    padding: 0.625em;
    margin: 0.9375em;
}
.img_barrita:hover
{
    transform:scale(1.1);
    transition: all 0.5s;
}
.nos_presenta
{
    display: flex;
    padding: 6.25em;
    margin: 0px 9.375em 9.375em 9.375em;
    background-color: #27ae60;
    border-radius: 4px;
    box-shadow: 3px 3px 5px black;
    align-items: center;
}
.presenta
{
    padding: 1.25em;
    margin: 1.25em;
    background-color: #d6d2d2;
    color: #27ae60;
    box-shadow: 3px 3px 5px black;
    border-radius: 6px;
    font-weight: bolder;
}
article p
{
    padding: 0.3125em;
    margin-bottom: -0.625em;
}
.nosotros
{
padding: 1.25em;
border-radius: 50%;
box-shadow: 0px 0px 5px black;
margin: 1.25em;
}
.tit_nos
{
    margin: 3.125em;
    color:#e0e0e0;
    background-color: #27ae60;
    display: flex;
    justify-content: center;
}
.cards-container
{
    max-width: 75em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
}
.card
{
    margin: 1rem;
    background-color: #27ae60;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}
.card-img
{
    padding: 0.6rem;
    border-radius: 20px;
    width: 16.875em;
    height: 10.625em;
}
.card h5 
{
    color: #e0e0e0;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
}
.card a
{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
}
.card:hover
{
    transform:scale(1.1);
    transition: all 0.6s;
}
.body_index{
    background-image: url(../imagenes/fondo_index.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}

.acceso{
    text-decoration: none;
    color: black;
    font-size: 1.875em;
    font-weight: bolder;
}

.boton_acceso{
    width: 13.75em;
    height: 3.125em;
    color: black;
    background-color: #e0e0e0;
    border: 2px solid #0e0e0e;
    border-radius: 20px;
    cursor: pointer;
    margin: 40% 0 0 80%;
}

.boton_acceso:hover{
    background-color: #27ae60;
    border: 2px solid #e0e0e0;
    color: #e0e0e0;
    transform: scale(1.1);
    transition: all .5s;
}
.pdf
{ 
    box-shadow: 3px 3px 5px black;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 0.625rem;
    margin: 1.875rem;
    font-size: 1.5625em;
    background-color: #27ae60;
    font-weight: bolder;
    color: #e0e0e0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pdf_link
{
    text-decoration: none;
    color: #e0e0e0;
    cursor: pointer;
    font-size:large;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    padding: 0.625em;
}
.pdf_link:hover
{
    transform:scale(1.1);
    transition: all 0.6s;
    background-color: #e0e0e0;
    color: #27ae60;
}
.video_link
{
    margin: 0.9375em;
    padding: 1.25em;
    float: left;
    width: 64%;
    text-align: center;
    color: #e0e0e0;
    font-weight: bolder;
}
